@model MoviesApp.Models.Movie

<div class="col-md-4">
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>
                @Model.Title
            </h2>
        </div>
        
        <div class="panel-body">
            <p>@Model.Description</p>
            <p style="float: right">@Model.ReleaseDate</p>
        </div>
     
        
        <div class="panel-footer">
            @Html.ActionLink("Edit", "Edit", new {id = @Model.ID}) |
            @Html.ActionLink("Details", "Details", new {id = Model.ID}) |
            @Html.ActionLink("Delete", "Delete", new {id = Model.ID})
        </div>
    </div>
    
</div>